<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mm"> 
	<insert id="memberjoin" parameterType="memberdto">
		INSERT INTO MEMBER210525(MID, MPASSWORD, MNAME, MEMAIL) VALUES(#{mid}, #{mpassword}, #{mname}, #{memail})
	</insert>
	
	<select id="memberlist" resultType="memberdto">
		SELECT * FROM MEMBER210525 ORDER BY MID ASC
	</select>
	
	<select id="memberview" parameterType="String" resultType="memberdto">
		SELECT * FROM MEMBER210525 WHERE MID=#{mid}
	</select>
	
	<!-- mid, mpassword가 모두 일치해야 mid 셀렉값이 있음. -->
	<select id="memberlogin" parameterType="memberdto" resultType="String">
		SELECT MID FROM MEMBER210525 WHERE MID=#{mid} AND MPASSWORD=#{mpassword}
	</select>
	
	<select id="memberupdate" parameterType="String" resultType="memberdto">
		SELECT * FROM MEMBER210525 WHERE MID=#{loginId}
	</select>
	
 </mapper>
 