<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="cart"> 
		<insert id="cartinsert" parameterType="cartdto" >
			INSERT INTO CART (CARTID, CARTGOODS, CARTPRICE, CARTNUMBER, CARTAMOUNT, CARTCODE)
						VALUES (#{cartid},#{cartgoods},#{cartprice},#{cartnumber},#{cartamount},CART_SEQ.NEXTVAL)
		</insert>
		<select id="cartlist" resultType="cartdto" parameterType="String">
			SELECT * FROM CART WHERE CARTID=#{loginId}
		</select>
		<delete id="cartdelete" parameterType="int" >
			DELETE FROM CART WHERE CARTCODE=#{cartcode}		
		</delete>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 