<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mm"> 
	<insert id="membership" parameterType="memberdto">
		INSERT INTO MEMBERSHIP(MID, MPASSWORD, MNAME, MNUMBER, MEMAIL, MDOMAIN, MADDRESSNUMBER, MROADADDRESS, MLANDADDRESS, MDATAILEDADDRESS, MNOTE) 
			VALUES (#{mid},#{mpassword},#{mname},#{mnumber},#{memail},#{mdomain},#{maddressnumber},#{mroadaddress},#{mlandaddress},#{mdatailedaddress},#{mnote})
	</insert>
	<select id="idcheck" resultType="String" parameterType="String">
		SELECT MID FROM MEMBERSHIP WHERE MID = #{mid}
	</select>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 