<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="mm"> 
	<insert id="membership" parameterType="memberdto">
		INSERT INTO MEMBERSHIP(MID, MPASSWORD,MPASSWORDCHECK, MNAME, MNUMBER, MEMAIL, MDOMAIN, MADDRESSNUMBER, MROADADDRESS, MLANDADDRESS, MDATAILEDADDRESS, MNOTE) 
			VALUES (#{mid},#{mpassword},#{mpasswordcheck},#{mname},#{mnumber},#{memail},#{mdomain},#{maddressnumber},#{mroadaddress},#{mlandaddress},#{mdatailedaddress},#{mnote})
	</insert>
	<select id="idcheck" resultType="String" parameterType="String">
		SELECT MID FROM MEMBERSHIP WHERE MID = #{mid}
	</select>
	<select id="login" parameterType="memberdto" resultType="String">
		SELECT MID FROM MEMBERSHIP WHERE MID =#{mid} AND MPASSWORD=#{mpassword}	
	</select>
	<select id="mbupdate" parameterType="String" resultType="memberdto">
		SELECT * FROM MEMBERSHIP WHERE MID=#{mid}	
	</select>
	<update id="updateprocess" parameterType="memberdto">
		UPDATE MEMBERSHIP SET MPASSWORD=#{mpassword}, MNAME=#{mname}, MNUMBER=#{mnumber}, MEMAIL=#{memail}, MDOMAIN=#{mdomain}, MADDRESSNUMBER=#{maddressnumber}, MROADADDRESS=#{mroadaddress}, MLANDADDRESS=#{mlandaddress}, MDATAILEDADDRESS=#{mdatailedaddress}, MNOTE=#{mnote}	
	</update>
	<select id="mypage" parameterType="String" resultType="memberdto">
		SELECT * FROM MEMBERSHIP WHERE MID=#{mid}
	</select>
	<select id="memberlist" resultType="memberdto">
		SELECT * FROM MEMBERSHIP
	</select>
	<select id="memberview" parameterType="String" resultType="memberdto">
		SELECT * FROM MEMBERSHIP WHERE MID=#{mid}		
	</select>
	<delete id="memberdelete" parameterType="String" > 
		DELETE FROM MEMBERSHIP WHERE MID=#{mid}
	</delete>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 